@import "tailwindcss";

@keyframes subtle-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-subtle-fade {
    animation: subtle-fade-in 0.6s ease-in forwards;
}